
header{
    width: 100%;
    background-color: rgb(163, 163, 211);
    height: 10vh;
    display: flex;
}
header img{
    height: 10vh;
  
}
.hamburguer{
    display: none;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.linkmenu{
    font-size: 1cm;
    color: aliceblue;
    text-decoration: none;
}

@media screen and  (max-width:800px) {
    .hamburguer{
        display: inline;
    }
    .menu{
        display: none;
}
}